body {
    background-color: $background-color;
    font-size: $font-main;
}


// Code from frontendmentor.io

.attribution {
    font-size: 11px; text-align: center; 
}

.attribution a {
    color: hsl(228, 45%, 44%);
}