/*
to be deleted
body {
    background-image: url(../images/bg-mobile-dark.jpg);
}
*/

$bg-mobile-dark: url('images/bg-mobile-dark.jpg');

.header-image {
    background-image: $bg-mobile-dark;
    height: 25vh;
    width: 100vw;
    background-repeat: no-repeat;
    position: relative;
}